html {
  box-sizing: border-box;
}

 *, *::before, *::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  --color-text: #434455;
  --color-primary-brand: #4D5AE5;
  --color-dark: #2E2F42;
  --color-white: #ffffff;
  --color-light: #F4F4FD;
  --color-accent: #E7E9FC;
  --light-slate: #8E8F99;
  --color-green: #31D0AA;
  --transition-duration-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin: 0;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
/* ======== / ========= */

/* HEADER */
.page-header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 5;
}

main {
  padding-top: 72px;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 72px;
}

.site-nav {
  display: flex;
}

.menu-nav {
  display: flex;
}

.menu-nav .item:not(:last-child) {
  margin-right: 40px;
}

.menu-nav .link .link-underline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.auth-nav {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: auto;
}

.auth-nav .item+.item {
  margin-left: 40px;
} 

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 77px;
  text-align: center;
  padding-top: 18px;
}

/* feature */
ul {
  list-style-type: none;
}

.feature-list {
  width: 264px;
display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.feature-ite {
  width: 264px;
}

.feature-point {
  width: 264px;
  margin-right: 24px;
}

.feature-icon {
  width: 64px;
  height: 64px;
}

.feature-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--color-light);
  margin-bottom: 8px;
  border: none;
  padding: 0;
}

/* -------------------------------------------------- */
.doing {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.colleagues {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  text-align: center;
}

.team-text {
  margin-bottom: 12px;
}

.social {
  display: flex;
  padding: 0px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.posicion {
  padding: 0;
  margin: 0;
}

.social-link {
  display: block;
  padding: 10px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--color-primary-brand);
  border-radius: 50%;
}

.social-icon {
  
width: 16px;
height: 16px;
fill: var(--color-white);
}

.social-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding: 0;
  fill: var(--light-slate);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-green);
}

.colleagues-title {
  margin-bottom: 8px;
}

.colleagues-text {
  padding: 32px 16px;
}

.term {
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.guests {
  padding: 120px 0;
}

.container-customers {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.customers {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.customers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  width: 168px;
  height: 88px;
  padding: 0;
  fill: var(--light-slate);
}

.customers-card:hover,
.customers-card:focus {
fill: var(--color-primary-brand);
border-color: var(--color-primary-brand);
}
/* -------------------------------------------- */
.link {
  transition: color var(--transition-duration-and-funk);
  text-decoration: none;
  color: var(--color-text);
}

.link-under {
  color: var(--color-primary-brand);
  text-decoration: none;
  margin-top: 24px;
}

.link-under::after {
  content: '';
  display: block;
  width: 48px;
  height: 4px;
  background-color: #4D5AE5;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
}

.link-underline {
  color: var(--color-primary-brand);
  text-decoration: none;
  margin-top: 24px;
}

.link-underline::after {
  content: '';
  display: block;
  align-items: center;
  width: 65px;
  height: 4px;
  background-color: #4D5AE5;
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
}

.link:hover,
.link:focus {
  color: var(--color-primary-brand);
}

.link:active {
  color: var(--color-primary-brand);
}

.navy-blue {
  color: var(--color-dark);
}

.iris {
  color: var(--color-primary-brand);
}

.contacts {
  display: flex;
  color: var(--color-text);
  text-decoration: none;
  transition: color var(--transition-duration-and-funk);
}

.contacts:hover,
.contacts:focus {
  color: var(--color-primary-brand);
}

/* ======== HERO ======== */
.hero {
  background-color: var(--color-dark);
  background-image: linear-gradient(to right, 
  rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img17.jpg);
  text-align: center;
  padding-top: 192px;
  padding-bottom: 192px;
  height: 600px;
  margin: 0 auto;
  max-width: 1440px;
}

.text-hero {
  max-width: 496px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 48px;
}

.advantages {
  padding-top: 120px;
}

.services {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.button {
  background-color: var(--color-light);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-primary-brand);
  cursor: pointer;
  padding: 8px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  transition: color var(--transition-duration-and-funk), background-color var(--transition-duration-and-funk),
    box-shadow var(--transition-duration-and-funk);
}

.button:hover,
.button:focus {
  background-color: var(--color-primary-brand);
  border: 1px solid transparent;
  color: var(--color-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.button-service {
  background-color: var(--color-primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-white);
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  transition: box-shadow var(--transition-duration-and-funk);
}

.button-service:hover,
.button-service:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.button-service:active {
  background-color: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-dark);
  margin-top: 0px;
  margin-bottom: 8px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 72px;
}

.team {
  background-color: var(--color-light);
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ======= FOOTER ======= */

.foot {
  background-color: var(--color-dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-content {
  display: flex;
}

.social-media {
  width: 208px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.media-title{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-bottom: 16px;
}


.media-item {
  display: block;
  padding: 8px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: var(--color-text);
  border-radius: 25px;
}

.media-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-white);
}

.media-item:hover,
.media-item:focus {
  background-color: var(--color-green);
}

.foot-logo {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-light);
}

.foot-text {
  color: var(--color-accent);
  margin-top: 16px;
}

.logo-daun {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.coda {
  width: 264px;
  margin-right: 120px;
}
/* ======= /FOOTER ======= */

/* ======== PORTFOLIO ========= */
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-link {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 72px;
}

.control:not(:last-child) {
  margin-right: 24px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

.gallery-card {
  background-color: var(--color-white);
  border-bottom: 0.5px solid var(--color-light);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.gallery-card:hover,
.gallery-card:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* ======== /PORTFOLIO ========= */

/* ========= OVERLAY ========= */
.overlay {
  font-size: 14px;
  color: var(--color-light);
  padding: 40px 32px;
  background-color: var(--color-primary-brand);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
}

.photo {
position: relative;
overflow: hidden;
}

.gallery-link {
  text-decoration: none;
  color: var(--color-text);
}

.gallery-link:hover .overlay,
.gallery-link:focus .overlay {
  transform: translate(0,0);
}

/* ========= MODAL WINDOW ========= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity var(--transition-duration-and-funk), visibility var(--transition-duration-and-funk);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: var(--color-white);
  transition: opacity var(--transition-duration-and-funk);
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--transition-duration-and-funk);
  background: var(--color-accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: transparent;
}

.modal-close-btn-icon {
  transition: fill var(--transition-duration-and-funk);
}
/* ========= /MODAL WINDOW ========= */